<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sync.tak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="com.noti.plugin.DATA_TRANSFER_PLUGIN" />
    <uses-permission android:name="com.noti.plugin.DATA_TRANSFER_HOST" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:name=".Application"
        android:theme="@style/Theme.App.Palette"
        tools:ignore="DataExtractionRules">

        <meta-data android:name="plugin-api" android:value="${atakApiVersion}"/>
        <meta-data android:name="app_desc" android:value="@string/app_desc"/>

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.OptionActivity"/>
        <activity android:name=".ui.profile.ProfileActivity"/>
        <activity android:name=".ui.NetSelectActivity"/>
        <activity android:name=".ui.profile.AddProfileActivity"/>

        <activity android:name="com.atakmap.app.component"
            tools:ignore="MissingClass"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="com.atakmap.app.component" />
            </intent-filter>
        </activity>

        <service
            android:name=".comms.FirebaseMessageService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".receivers.CoTTransmittingReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.sync.tak.receivers.REQUEST_DATA_SEND" />
            </intent-filter>
        </receiver>
    </application>

    <queries>
        <intent>
            <action android:name="com.noti.plugin.DATA_TRANSFER_PLUGIN" />
        </intent>
    </queries>
</manifest>
