<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/hammer"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:name=".Application"
        android:theme="@style/AppTheme"
        tools:ignore="DataExtractionRules">

        <meta-data android:name="plugin-api" android:value="com.atakmap.app@4.6.0.5.CIV"/>
        <meta-data android:name="app_desc" android:value="@string/app_desc"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
